@import "tailwindcss";

@theme {
  --color-light-beige: #F2E8CF;
  --color-cornflower-blue: #93C5FD;
  --color-terracotta: #E07A5F;
  --color-sage-green: #B2AC88;
  --color-charcoal: #3D405B;
  
  --shadow-farmhouse: 8px 8px 0px rgb(178 172 136 / 0.4);
  --shadow-farmhouse-dark: 10px 10px 0px rgb(61 64 91 / 0.6);
}
